/*Sidebar -- list of rooms*/
.sidebar {
  border: 1px solid black;
  background-color: lightblue;
  padding-left: 5px;
  /*padding: 10px, 10px, 50px, 10px;*/
  margin: 10px 0px;
  float:left;
  width: 300px;
  height: 900px;
}

.new-room-button {
  cursor:pointer;
  color: green;
  background-color: orange;
  border-color: green;
  width: 80px;
}

.new-room-button:hover {
  background-color: green;
  color: orange;
}

.submit-message-button {
  cursor:pointer;
  color: green;
  background-color: orange;
  border-color: green;
  width: 80px;
}

.submit-message-button:hover {
  background-color: green;
  color: orange;
}

.rooms-container {
  /*border: 1px solid black;*/
  padding-top: 10px;
  padding-left: 5px;
}

.room-name {
  cursor:pointer;
  background-color: white;
  width: 120px;
}

.room-name:hover {
  background-color: lightgray;
}

/*Chatroom -- room including messages */
.chatroom {
  border: 1px solid black;
  display: inline-block;
  background-color: lightgray;
  padding-left: 0px;
  /*padding: 10px, 10px, 50px, 10px;*/
  margin-top: 10px;
  margin-left: 0px;
  float:left;
  width: 60%;
  height: 900px;
}

.messages-container {
  border: 1px solid black;
  background-color: yellow;
  padding-left: 10px;
  border-radius: 7px;
}

.new-message-container {
  border: 1px solid black;
  background-color: lightgreen;
  /*justify-content: space-between;*/
  padding-left: 10px;
  border-radius: 7px;
  /* ***no    display: inline; */
}
/*
*** */
.new-message-container input[type="textarea"] {
  width: 470px;
  background-color: lightgreen;
  border: none;
}

.date-stamp {
  float: right;
  font-size: 60%;
  font-style: italic;
  margin-top:20px;
	/* border: solid 1px black; */
}

/*modal */

.modal {
  /*position: relative;*/
  width: 300px;
  background-color: lightgreen;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  /*display: none;*/
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 20;
}
/*.modal-header {
  padding: 2px;
  border-bottom: 1px solid yellow;
}*/

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-body input[type="text"] {
    width: 170px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer-btn {
  cursor:pointer;
  height: 20px;
  background-color: #white;
  /*border-color: #eea236;*/
  border-color: green;
}

.modal-footer-btn:hover {
  background-color: lightgray;
}
