/*Sidebar -- list of rooms*/
.sidebar {
  border: 1px solid black;
  background-color: lightblue;
  padding-left: 5px;
  /*padding: 10px, 10px, 50px, 10px;*/
  margin: 10px;
  float:left;
  width: 300px;
  height: 900px;
}
.new-room-button {
  /*.btn-default {*/
  color: green;
  background-color: orange;
  border-color: green;
}

.rooms-container {
  /*border: 1px solid yellow;*/
  padding-top: 10px;
  padding-left: 5px;
}

/*Chatroom -- room including messages */
.chatroom {
  border: 1px solid black;
  display: inline-block;
  background-color: lightgray;
  padding-left: 5px;
  /*padding: 10px, 10px, 50px, 10px;*/
  margin-top: 10px;
  float:left;
  width: 60%;
  height: 900px;
}

.messages-container {
  border: 1px solid black;
  background-color: yellow;
  align-content: space-between;
}

/*modal */

.modal {
  /*position: relative;*/
  width: 300px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  /*display: none;*/
  overflow: hidden;
  /*-webkit-overflow-scrolling: touch;*/
  outline: 20;

.modal-header {
  padding: 2px;
  border-bottom: 1px solid yellow;
}
.modal-header .close {
  margin-top: -2px;
}
/*.modal-title {
  margin: 0;
  line-height: 1.42857143;*/
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
