<section class="sidebar">

    <h1>Bloc Chat</h1>
    <i><small>Where conversation goes to die....</small></i>

 <!-- cp 3  - need add new Room button -->
    <button class="new-room-button" ng-click="home.newRoom()">New room</button>

<!-- cp2 pt 2 -->
    <div class="rooms-container" ng-repeat="room in home.rooms">
    <!-- make room text selectable,  set the active room -->

      <button class= "room-name" ng-click="home.setActiveRoom(room)">
      {{ room.$value }}
    </button>
      <!-- &nbsp &nbsp <small> {{ room }} </small> -->
    </div>

</section>

<!-- cp 4  chatroom to view messages -->

<section class="chatroom">
  <h3> Chatroom:  {{ home.activeRoom }}</h3>

  <div class="messages-container" ng-repeat= "message in home.messages">

    <p style= "color:{{message.color}}">
      {{ message.username }}: {{ message.content }} &emsp; &emsp;
<!-- ***how right tab/justify date? -->
      <span class="date-stamp"> {{message.sentAt}} </span>
    </p>
  </div>

  <div class="new-message-container">
    <p style= "color:{{message.color}}">
    {{ home.currentUser }}
    <form name="submitMessageForm">
      <input type="textarea"  ng-model="home.content" placeholder="enter your message..." required>
      <button class= "submit-message-button" ng-click= "home.newMessage()">Submit</button>

    </p>
  </div>

</section>
